.lead__title{
  max-width:720px;
  margin:0 auto 32px;
  font-size:96px;
  line-height:1;
  font-weight:900;
  text-align:center;
  color:#FFFFFF;
}

@media (max-width:768px) {
  .lead__title{
    margin: 0 24px 32px;
  }
}

@media (max-width:767px) {
  .lead__title{
    max-width:720px;
    margin:0 16px 16px;
    font-size:40px;
  }
}