.footer__links{
  margin:0;
  padding:0;
  display: flex;
  list-style: none;
  font-weight: normal;
  line-height: 1.1;
  color:#FFFFFF;
}

@media (max-width:767px) {
  .footer__links{
    flex-direction:column;
    line-height: 1;
  }
}